// Require
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";

//veriable 
@import "./_variables";   // 自定義的變數 scss 檔


@font-face {
    font-family: 'Cubic';
    src: url('../assets/Cubic_11_1.013_R.woff') format('woff');
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0!important;
}
p{
    margin-bottom: 0!important;
}

body{
    font-family: 'Cubic'!important;
}

.cublic{
    font-family: 'Cubic';
}

.toGray{
    -webkit-filter:grayscale(1);
}

.pCenter{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tree1Style{
    width: 165px;
    height: 165px;
}
  
.tree2Style{
    width: 153px;
    height: 153px;
}
  
.hanaStyle{
    width: 85px;
    height: 85px;
}

.chairStyle{
    width: 159px;
    height: 112px;
}

.textStroke{
    /*  邊框 */
    -webkit-text-stroke: 1px #FF392D;
    filter: 
        drop-shadow(0 0 2px #FF392D) ,

}

.linerLite{
    background: linear-gradient(180deg, #FFB547 0%, #FFEF5B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.rambleText{
    background: linear-gradient(270.03deg, #339943 0.02%, #FFEF5B 25.01%, #FF392D 49.99%, #9747FF 74.46%, #5C94FC 99.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 7px black;
}

.dCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt40{
    margin-top: 2.5rem;
}

